body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
    margin-top: 15px;
    margin-left: 20px;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 7px;
}

.tab-menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.tab-link {
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: inherit;
    font-size: 16px;
}

.tab-link.active {
    font-weight: bold;
    background-color: rgba(66, 107, 31, 0.3);
    color: black;
}

hr {
    margin: 0 42px;
}

.content {
    padding: 1rem;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    font-size: 16px;
    border: none;
}

.filter label,
.filter select {
    display: inline-block;
}

#filter {
    font-size: 16px;
    border: none;
}

.content .add {
    border: none;
    background-color: transparent;
    color: #426B1F;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 20px;
}
.add:hover {
    color: white;
}


.items {
    list-style: none;
    padding: 5px;
    margin-top: 0px;
}

.item {
    background-color: #FAFAF5;
    border: 1px solid #E6E6E6;
    color: #426B1F;
    border-radius: 1.5rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit, .delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.popup-content {
    margin-top: 100px;
    position: relative;
    text-align: center;
}

.box-container {
    display: inline-block;
    border: none;
    background-color: rgba(66, 107, 31, 0.2);
    padding: 0 50px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #426B1F;
    font-size: 15px;
    cursor: pointer;
}

.content-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-text {
    display: block;
    color: #426B1F;
    margin-bottom: 10px;
}

.recipe {
    font-weight: bold;
    border: none;
    color: #426B1F;
    cursor: pointer;
    background-color: transparent;
    text-decoration: underline;
    padding: 0;
}

.add-item-sheet {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: height 0.3s ease-out;
}

.add-item-sheet.active {
    height: 100%;
}

.add-item-sheet .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FAFAF5;
    margin: 0 10px;
    margin-bottom: -15px;
    padding: 20px;
    border-radius: 30px 30px 0 0;
    z-index: 2;
    overflow-y: auto;
}

.add-item-sheet .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.add-item-sheet .header h2 {
    margin: 0 10px;
    margin-right: auto;
}

.add-item-sheet .header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
}

.add-item-sheet .header .save-button {
    color: black;
    font-weight: bold;
    padding: 6px 12px;
    font-size: 17px;
    cursor: pointer;
}

.add-item-sheet .body {
    margin-top: 10px;
    width: 100%
    padding: 0 10px;
    box-sizing: border-box; 
}

.add-item-sheet .body .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.add-item-sheet .body .form-row label {
    width: 30%;
    margin-right: 10px;
}

.add-item-sheet .body .form-row input,
.add-item-sheet .body .form-row select {
    flex: 1;
    border: none;
    background-color: rgba(66, 107, 31, 0.1);
}

.add-item-sheet .category-container {
    display: flex;
    gap: 10px;
}

.add-item-sheet .category-container select {
    flex: 1;
}

.add-item-sheet .quantity-container {
    display: flex;
    gap: 10px;
}

.add-item-sheet .quantity-container input {
    flex: 1;
}

.add-item-sheet .quantity-container select {
    width: 60px;
}

.add-item-sheet .body button {
    width: 100%;
    background-color: rgba(66, 107, 31, 0.8);
    color: white;
    padding: 5px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.add-item-sheet .body input,
.add-item-sheet .body select {
    height: 30px;
    padding: 0;
    border-radius: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: white;
}

footer p {
    color: #426B1F;
    font-size: 12px;
    text-align: center;
}