<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>

    <body>
        <header>
            <div class="notice">
                <a href=#notification>
                    <img src="/main/notice.png">
                </a>
            </div>
            <div class="menu">
                <a href="#calendar">캘린더</a>
                <a href="#recipe">레시피</a>
                <a href="#profile">프로필</a>
            </div>
        </header>
        <div class="refrigerator">
            <a href=#refrigerator>
                <img src="/main/refrigerator.jpg">
            </a>
        </div>
        <div class="main">
            <h1>냉장고를 잘 부탁해,</h1>
            <p>유통기한 알림부터 맞춤 레시피까지,</p>
            <p>당신의 식재료 관리를 스마트하게 변화시켜 드립니다.</p>
            <img src="/main/main.png" alt="메인 이미지">
        </div>
        <footer>
            <p>Copyright &copy; HUFS SW&AI Capstone Design A4용지. All Rights Reserved.</p>
        </footer>
    </body>

</html>