<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>냉장고를 잘 부탁해 | 종합설계 A4팀</title>
        <meta name="format-detection" content="telephone=no" />
        <meta name="description" content="냉장고를 잘 부탁해 | 종합설계 A4팀" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="냉장고를 잘 부탁해 | 종합설계 A4팀" />
        <meta property="og:description" content="유통기한 알림부터 맞춤 레시피까지, 당신의 식재료 관리를 스마트하게 변화시켜 드립니다." />
        <meta property="og:image" content="https://myrefrigerator.store/main/main.png" />
        <meta property="og:url" content="https://myrefrigerator.store" />
        <meta name="view-transition" content="same-origin" />
        <link rel="canonical" href="https://myrefrigerator.store" />
        <link rel="shortcut icon" href="/favicon.ico" />

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-config" content="/default/browserconfig.xml" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/iPhone_11__iPhone_XR_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
            href="splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/13__iPad_Pro_M4_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/12.9__iPad_Pro_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/11__iPad_Pro_M4_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/10.9__iPad_Air_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/10.5__iPad_Air_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/10.2__iPad_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
            href="splash_screens/8.3__iPad_Mini_landscape.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/iPhone_11__iPhone_XR_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
            href="splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/13__iPad_Pro_M4_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/12.9__iPad_Pro_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/11__iPad_Pro_M4_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/10.9__iPad_Air_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/10.5__iPad_Air_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/10.2__iPad_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png">
        <link rel="apple-touch-startup-image"
            media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
            href="splash_screens/8.3__iPad_Mini_portrait.png">


        <link rel="stylesheet" href="/css/refrigerator.css" />
        <link rel="stylesheet" href="/css/bottom_sheet.css" />
        <link rel="stylesheet" href="/css/common.css" />

    </head>

    <body>
        <header>
            <div class="logo">
                <a href="/?dest=home">
                    <img src="/resources/logo.jpg" alt="Logo">
                </a>
            </div>
            <div class="menu">
                <a href="/calender">캘린더</a>
                <a href="/refrigerator" style="font-weight: bold;">냉장고</a>
                <a href="/search">레시피</a>
                <a href="/settings">프로필</a>
            </div>
        </header>
        <main>
            <section class="tabs">
                <div class="tab-menu">
                    <button class="tab-link active" data-tab="전체">전체</button>
                    <button class="tab-link" data-tab="냉장">냉장</button>
                    <button class="tab-link" data-tab="냉동">냉동</button>
                    <button class="tab-link" data-tab="실온">실온</button>
                </div>
                <hr>
            </section>
            <section class="content">
                <div class="filter">
                    <select id="filter">
                        <option value="added-reverse" selected>등록순</option>
                        <option value="added">최근등록순</option>
                        <option value="expiry">유통기한짧은순</option>
                        <option value="category">카테고리가나다순</option>
                        <option value="name">이름가나다순</option>
                    </select>
                    <button class="show-modal add">+</button>
                </div>
                <ul class="items">
                    <!-- <li class="item">
                        <span class="category">유제품</span>
                        <span class="name">우유</span>
                        <span class="expiry">24.04.06. / 1pcs</span>
                        <button class="edit">✏️</button>
                        <button class="delete">✕</button>
                    </li>
                    <li class="item">
                        <span class="category">채소</span>
                        <span class="name">두부</span>
                        <span class="expiry">24.04.11. / 2pcs</span>
                        <button class="edit">✏️</button>
                        <button class="delete">✕</button>
                    </li>
                    <li class="item">
                        <span class="category">육류</span>
                        <span class="name">햄</span>
                        <span class="expiry">24.04.11. / 1pcs</span>
                        <button class="edit">✏️</button>
                        <button class="delete">✕</button>
                    </li>
                    <li class="item">
                        <span class="category">유제품</span>
                        <span class="name">계란</span>
                        <span class="expiry">24.04.23. / 1pcs</span>
                        <button class="edit">✏️</button>
                        <button class="delete">✕</button>
                    </li> -->
                    <li class="item">불러오는 중...</li>
                </ul>
            </section>
            <div class="popup-content">
                <div class="box-container">
                    <button class="close" id="closePopup">✕</button>
                    <div class="content-container">
                        <span class="recipe-text">가진 재료로 바로 만들 수 있는 요리</span>
                        <button class="recipe" id="recipeButton">확인하러 가기</button>
                    </div>
                </div>
            </div>
            <div class="add-item-sheet bottom-sheet" id="addItemSheetModal">
                <div class="sheet-overlay"></div>
                <div class="content">
                    <div class="header">
                        <div class="drag-icon"><span></span></div>
                    </div>
                    <form id="addItemForm">
                        <div class="header">
                            <h2>추가</h2>
                            <button type="submit" class="save-button">저장</button>
                            <button class="close-sheet" style="display: none;">&times;</button>
                        </div>
                        <div class="body">
                            <input type="hidden" id="ingredientInputId" name="id" value="">
                            <div class="form-row">
                                <label for="ingredNameInput">식재료명</label>
                                <input type="text" id="ingredNameInput" name="name" list="ingredName" required>
                                <datalist id="ingredName"></datalist>
                            </div>
                            <div class="form-row">
                                <label for="storageOption">보관 방법</label>
                                <select id="storageOption" name="storage">
                                    <option selected value="냉장">냉장</option>
                                    <option value="냉동">냉동</option>
                                    <option value="실온">실온</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <label for="category">카테고리</label>
                                <div class="category-container">
                                    <select id="category" name="category">
                                        <option selected="과일류">과일류</option>
                                        <option value="채소류">채소류</option>
                                        <option value="육류">육류</option>
                                        <option value="해산물">해산물</option>
                                        <option value="유제품">유제품</option>
                                        <option value="간식류">간식류</option>
                                    </select>
                                    <button type="button" id="addCategoryButton">+</button>
                                </div>
                                <input type="text" id="newCategory" name="userInputCategory" placeholder="새 카테고리 입력"
                                    style="display: none;">
                            </div>
                            <div class="form-row">
                                <label for="expiryDate">유통기한</label>
                                <input type="date" id="expiryDate" name="expiryDate">
                            </div>
                            <div class="form-row">
                                <label for="quantity">수량</label>
                                <div class="quantity-container">
                                    <input type="number" id="quantity" name="quantity" value="1">
                                    <select id="quantityUnit" name="quantityUnit">
                                        <option selected value="pcs">pcs</option>
                                        <option value="g">g</option>
                                        <option value="ml">ml</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <p>Copyright &copy; HUFS SW&AI Capstone Design A4용지. All Rights Reserved.</p>
        </footer>
        <script src="/js/bottom_sheet.js"></script>
        <script type="module" src="/js/update_ref.js"></script>
        <script src="/js/ref_script.js"></script>

        <div id="myref_alert"></div>

    </body>

</html>